

.tituloprincipal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.titulocentralizado{
    text-align: center;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

p{
    text-align: center;
}

#mision{
    font-size: 20px;
}

em strong{
    color:red;
}


.item{
        font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.difimagen{
    width: 50%;
}